.card-movie {
  position: relative;
  width: 240px;
  border-radius: 12px;
  border-color: var(--black-gray-color) !important;
  height: 350px;
  background-color: var(--black-gray-color);
  transition: 0.5s;
}
.card-movie:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.card-movie img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  z-index: 1;
}
.card-movie .info {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #fff;
  font-weight: 500;
  font-family: var(--primary-font);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: inherit;
  border-top-left-radius: unset;
  border-top-right-radius: unset;
  text-align: center;
}
